## 1. New Notebook is created (capstone_toronto_W3.ipynb)

## 2. Use the Notebook to build the code to scrape the Wikipedia

In [2]:
# it works for python3 kernels
# !pip3 install lxml
import pandas as pd
url = r'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables = pd.read_html(url) # Returns list of all tables on page
toronto_df = tables[0] # Select table of interest
toronto_df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [3]:
toronto_df.shape

(180, 3)

In [4]:
print(toronto_df.head())
print(toronto_df.tail())

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront
    Postal Code       Borough  \
175         M5Z  Not assigned
176         M6Z  Not assigned
177         M7Z  Not assigned
178         M8Z     Etobicoke
179         M9Z  Not assigned

                                         Neighbourhood
175                                       Not assigned
176                                       Not assigned
177                                       Not assigned
178  Mimico NW, The Queensway West, South of Bloor,...
179                                       Not assigned

## 3. clean up the above data Frame

#### * The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
For my point of view there is a typo in 'Neighborhood', Wikipedia is correct. I will leave it like Wikipedia

In [26]:
df = toronto_df.rename(columns={"Postal Code": "PostalCode"})
df.head()

  PostalCode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

#### * Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [30]:
df = df[df.Borough != 'Not assigned'].reset_index(drop=True)
print("Borough with Not Assigned entries: ",df[df['Borough']=='Not assigned'].Borough.count())

Borough with Not Assigned entries:  0

#### * wikipedia has updated the table to have combined into one row with the neighborhoods separated with a comma

In [33]:
df[df['PostalCode']=='M5A']

  PostalCode           Borough              Neighbourhood
2        M5A  Downtown Toronto  Regent Park, Harbourfront

#### * Show the shape

In [34]:
df.shape

(103, 3)